:root {
--background-color: rgb(48, 50, 56);
--primary-color: rgb(232, 102, 236);
--secondary-color: rgb(232, 228, 228);
--box-shadow: inset 0px 0px 8px rgba(232, 102, 236, 1), 0 0 15px rgba(232, 102, 236, 1);
}

* {
    color: var(--secondary-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
    background-color: var(--background-color);
}

h1, h2, h3, p {
    color: var(--primary-color);
}

header {
    text-align: center;
}

.sub-header {
    color: var(--secondary-color);
}

header p {
    margin: 15px 10%;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin: 25px 0px;
}

.flex-container card {
    display: flex;
    flex-direction: column;
    border-style: dashed;
    border-width: 2px;
    border-color: var(--secondary-color);
    padding: 5px;
}

.flex-container h2 {
    position: relative;
    margin-top: -20px;
    background-color: var(--background-color);
    border-color: var(--secondary-color);
    border-style: solid;
    border-radius: 8px;
    border-width: 2px;
    transition: all 0.5s ease-in-out;
    padding: 5px 5px;
}

.flex-container h2:hover {
    box-shadow: var(--box-shadow);
}

.flex-container pre {
    flex-grow: 1;
    align-content: center;
    background-image: linear-gradient(rgba(232, 102, 236, 0.3) 0%, rgba(232, 102, 236, 0.6) 100%);
    border-radius: 5px;
}

/* Works with JS to add a box shadow effect on click to the <pre> elements, similar to the box shadow effect that is added to the h2 on hover. This works by having the JS add the class to the clicked on <pre> element.*/
.click-shadow {
    box-shadow: var(--box-shadow);
    transition: box-shadow 0.3s ease-in-out;
}

/* ensures that the box shadow effect fades out. The time is specified in the script.js file.*/
.click-shadow-fade-out {
    box-shadow: none;
    transition: box-shadow 0.3s ease-in-out;
}

/* Indicates to the user that the text has been copied when they click on a <pre> element. */
.copied-message {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 10px;
    background-color: rgb(103, 104, 107);
    color: var(--secondary-color);
    font-weight: bold;
    border-radius: 3px;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}
  /* Ensures the copied message goes away after a set amount of time. */
.copied-message.fade-out {
    opacity: 0;
}

.flex-container code {
    line-height: 1.5;
}

footer {
    text-align: center;
}

footer h2 {
    margin: 10px 0px;
}

/* Media Queries to ensure that the webpage is responsive to different screen sizes. */
@media (max-width: 768px) {
    .flex-container {
        flex-direction: column;
    }
    
    .flex-container card {
        max-width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .flex-container card {
        width: 45%;
    }
}

@media (min-width: 992px) {
    .flex-container card {
        width: 30%;
    }
}